.hov{
    transition: all 0.3s ease; /* Agrega una transición suave a todas las propiedades con duración de 0.3 segundos */
}

.hov:hover{
    margin-bottom: 7px;
    color: #F31260;
    
}

.avatarContainer {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #940099;
  transition: width 0.3s, height 0.3s, opacity 0.3s; /* Transición para width, height y opacity */
}

.avatarContainer:hover {
  width: 45px; /* Tamaño más pequeño */
  height: 45px; /* Tamaño más pequeño */
  opacity: 0.5; /* Opacidad reducida */
}

.avatarContainer:hover {
  cursor: pointer;
}

  
  .imgUsr {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  