

.main_card{
  min-height: 80vh;
}

.bodyCard{
  min-height: 55vh;
}

.cardF{
  height: 100%;
}

.hov:hover {
  background-color: #a81f00; /* Cambia el color de fondo a rojo */
  color: #fff; /* Cambia el color del texto a blanco */
  border: 2px solid #a81f00; /* Añade un borde rojo alrededor del botón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
  transform: scale(1.03); /* Escala ligeramente el botón para un efecto de aumento */
  transition: all 0.3s ease; /* Agrega una transición suave para una animación más agradable */
  cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
}

.avatarContainer {
  transition: transform 0.3s ease-in-out;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #940099; /* Puedes personalizar el color del borde según tus preferencias */
}


.imgUsr {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded {
  border-radius: 10px;
}
.avatarContainer:hover {
  cursor: pointer;
  transform: translateY(3px) scale(1.15);
}
