.personalData{
    max-width: 100%;
    height: 80%;
}

.labelF{
    width: 380px;
    margin: 0 30px 20px 0;
}

.contactData{
    max-width: 100%;
}

.prueba{
    min-height: 50vh;
}

.rojo{
    color:#691c32;
}

.hov{
    transition: all 0.3s ease; /* Agrega una transición suave a todas las propiedades con duración de 0.3 segundos */
}

.hov:hover {
    background-color: #4CAF50; /* Cambia el color de fondo a verde más brillante */
    color: #fff; /* Cambia el color del texto a blanco */
    border: 2px solid #4CAF50; /* Añade un borde verde alrededor del botón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    transform: scale(1.08); /* Escala ligeramente el botón para un efecto de aumento */
    transition: all 0.3s ease; /* Agrega una transición suave para una animación más agradable */
    cursor: pointer; /* Cambia el cursor a mano para indicar que es interactivo */
}

