body {
  background-color: #f5f7fa;
}

.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.navbar {
  background-color: #6a1a33;
}
.LogoTRC {
  filter: invert(100%);
}

.container {
  margin-top: 20px;
}

.textbox-input,
.radio-input {
  margin-top: 2vh;
  margin-left: 2vh;
}

.dropdown-input {
  margin-top: 2vh;
  margin-right: 2vh;
}

.personalData{
  max-width: 72%;
}

.labelF{
  width: 380px;
  margin: 0 30px 20px 0;
}

.contactData{
  max-width: 100%;
}